.container{
    width: 100vw;
    height: 100vh;
    background-color: #F3EAE3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 50vh;
    width: 40vw;
    background-color: #FFFFFF;
    border-radius: 18px;
    display: flex;
    
    

}
.card-left{
    height: 100%;
    width: 50%;
    
   
}
.card-left img{
    height: 100%;
    width: 100%;
    
    border-radius: 18px 0px 0px 18px;
    object-fit: cover;
}
/* .card-img{
    height: 100%;
     width: 100%;
     object-fit: contain;
    
} */
.card-right{
    height: 100%;
    width: 50%;
    text-align: left;
    padding-left: 35px ;
    margin-top: 15px;
}
.card-right p{
    font-family: Montserrat;
    letter-spacing: 5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 5px;
    color: grey;
    
}
.card-right h1{
    font-family: Fraunces;
    font-weight: 700;
}
.card-right h6{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: grey;
}
.card-right h2{
    color: rgb(1, 45, 1);
    font-family: Montserrat;
    font-size: 30px;

}
.card-right button{
    background-color: rgb(1, 111, 1);
    color: white;
    padding: 15px 120px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-family:Montserrat ;
    font-weight: 700;
}

@media screen and (max-width:375px){
    body{
        width: 100vw;
        height: 100vh;
        background-color: #F3EAE3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        height: 80vh;
        width: 95vw;
        background-color: #FFFFFF;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        
    
    }
    .card-left{
        height: 50%;
        width: 100%;
        
       
    }
    .card-left img{
        height: 100%;
        width: 100%;
        
        border-radius: 18px 18px 0px 0px;
        object-fit: cover;
    }
    .card-right{
        height: 50%;
        width: 100%;
        text-align: left;
        padding-left: 20px  ;
        margin-top: 5px;
       
    }
    .card-right h1{
        font-family: Fraunces;
        font-weight: 700;
        object-fit: cover;
        font-size: 35px;
        width: 90%;
       
        object-fit:cover ;
        line-height: 100%;
        margin-top:-10px ;
         
    }
    .card-right h6{
        font-family: Montserrat;
        width: 90%;
        font-weight: 500;
        font-size: 14px;
        color: grey;
        object-fit: cover;
        margin-top: -10px;
    }
    .card-right h2{
        color: rgb(1, 45, 1);
        font-family: Montserrat;
        font-size: 30px;
        margin-top: -25px;
       
        margin-bottom: 12px;
    }
    .card-right button{
        background-color: rgb(1, 111, 1);
        color: white;
        padding: 15px 80px;
        border-radius: 10px;
        border: none;
        margin-top: 20px;
        font-family:Montserrat ;
        font-weight: 700;
        width: 90%;
        margin-top: -20px;
        
    }
}